@model ErrorViewModel

<h1>Error</h1>
<p>Lo sentimos, ha ocurrido un error.</p>

@if (Model != null && !string.IsNullOrEmpty(Model.RequestId))
{
    <p>Id de solicitud: <strong>@Model.RequestId</strong></p>
}
else
{
    <p>No se pudo obtener información adicional sobre el error.</p>
}