<h1>Crear Nuevo Presupuesto</h1>

<form method="post">
    <div class="form-group">
        <label for="nombreDestinatario">Nombre Destinatario</label>
        <input type="text" class="form-control" id="nombreDestinatario" name="nombreDestinatario" required />
    </div>

    <div class="form-group">
        <label for="fechaCreacion">Fecha de Creación</label>
        <input type="date" class="form-control" id="fechaCreacion" name="fechaCreacion" required />
    </div>

    <button type="submit" class="btn btn-success">Crear</button>
</form>
