@model EspacioTp5.ViewModels.PresupuestosViewModel

@{
    ViewData["Title"] = "Crear Presupuesto";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Crear" method="post">
    <div class="form-group">
        <label for="FechaCreacion">Fecha de Creación</label>
        <input type="date" class="form-control" id="FechaCreacion" name="FechaCreacion" required />
    </div>

    <div class="form-group">
        <label for="IdClienteSeleccionado">Cliente</label>
        <select class="form-control" id="IdClienteSeleccionado" name="IdClienteSeleccionado">
            @foreach (var cliente in Model.Clientes)
            {
                <option value="@cliente.IdCliente">@cliente.Nombre</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
</form>
@section Scripts{<partial name="_ValidationScriptsPartial"/>}